body{
    background: #B0BFE1;
}

.presentacion-caja{
    padding-top: 3.1rem;
}

h1{
    font-family: 'Roboto Mono', monospace;
    font-variant-caps: small-caps;
}

h2, h3{
    font-family: 'Playfair Display', serif;
    font-variant-caps: small-caps;
}

p, a{
    font-family: 'Noto Sans JP', sans-serif;
}

.presentacion__h1{
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 1px black,
                 2px 2px 2px black,
                 3px 3px 3px black,
                 4px 4px 4px black,
                 5px 5px 5px black,
                 6px 6px 6px black;
    line-height: 1.3em;
}

.presentacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.presentacion__p{
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 1.1px;
    line-height: 1.2em;
    flex: 2 1 auto;
    margin: 0;
    margin-left: 5rem;
}

.presentacion__img{
    border-radius: 100%;
    width: 14rem;
    flex: 1 1 auto;
    margin-left: 10rem;
    margin-top: -3.5rem;
    margin-right: 3rem;
}

.presentacion-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.icon-presentacion__linkedin, .icon-presentacion__git{
    margin: 1rem;
    margin-top: -0.3rem;
}

.presentacion-fa-linkedin{
    margin-left: 2rem;
    color: #2538A2;
    font-size: 2.2rem;
    background: #fdfdfd;
    border-radius: 6px;
    line-height: 28px !important;
}

.icon-presentacion__git i{
    color: black;
    font-size: 2.2rem;
    background: #ffffff;
    border-radius: 100%;
    line-height: 32.5px !important;
}

@media only screen and (max-width: 1072px) {    
    .presentacion__p{
        margin-left: 3rem;
    }

    .presentacion__img{
        margin-top: -1rem;
        margin: 0 2.2rem;
    }
    
    .presentacion-icon{
        justify-content: center;
        margin-left: -15rem;
    }

    .icon-presentacion__linkedin, .icon-presentacion__git{
        margin: 1rem;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 642px) {   
    .presentacion{
        flex-direction: column;
    }

    .presentacion__p{
        margin: 0 0.3rem;
    }
    
    .presentacion__img{
        margin: 0;
        margin-top: 1rem;
    }

    .presentacion-icon{
        justify-content: space-between;
        margin-left: 0.2rem;
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 641px) {   
    .presentacion-icon{
        justify-content: space-between;
        margin-left: 0rem;
        margin-top: -3rem;
    }

    .icon-presentacion__linkedin, .icon-presentacion__git{
        margin: 0;
        margin-left: 0;
    }

    .icon-presentacion__git{
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 351px) {   
    .presentacion-icon{
        justify-content: space-around;
        margin:1rem;
    }
    .icon-presentacion__linkedin, .icon-presentacion__git{
        margin: 0;
        margin-left: -2rem;
    }
}

/*estudios*/

.educacion{
    padding-top: 0.1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.educacion__Universitaria, .educacion__Cursos{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}


.educacion__separados{
    margin: 1rem;
    flex: 1 1 auto;
    /*falta los colores de fondo*/
    border-radius: 100px;
    width: 30rem;
}

/*tectos de educacion*/

.educacion__separados h3{
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    color: #000000;
    line-height: 1.3em;
    text-align: center;
    font-weight: 600;
}

.educacion__P{
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: #f5efefef;
    line-height: 1em;
    font-weight: 600;
    text-shadow: 1px 1px 1px black,
                 2px 2px 2px black,
                 2px 2px 2px black,
                 2px 2px 2px black,
                 2px 2px 2px black;
}

.educacion__separados:hover{
    background: #8f9ab460;
    transition: all 0.2s linear;
}

@media only screen and (max-width: 642px) {   
    .educacion__separados{
        width: auto;
        border-radius: 20px;
    }
    .educacion__separados:hover{
        background: #B0BFE1;
        transition: all 0.3s linear;
    }
}

/* habilidades */
    /*menu*/
    .Habilidades_navegation{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .Habilidades_navegation ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .Habilidades_navegation ul li{
        display: inline-block;
        padding: 0.5rem 0.5rem;
    }
    .Habilidades_navegation ul li a{
        display: block;
        padding: 0.5rem 4rem;
        transition: all 0.2s linear;
        border-radius: 4px;
        color: white;
        background: black;
        text-decoration: none;

        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.47),
              2px 2px 2px rgba(0, 0, 0, 0.47),
              3px 3px 3px rgba(0, 0, 0, 0.47),
              3px 3px 3px rgba(0, 0, 0, 0.47);
    }
    .Habilidades_navegation ul li a:hover {
        background: #404b68da;
    }

    @media only screen and (max-width: 970px) {   
        .Habilidades_navegation ul li a{
            padding: 0.5rem 2rem;
        }
    }

    @media only screen and (max-width: 655px) {  
        .Habilidades_navegation, .Habilidades_navegation ul{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
        } 
        .Habilidades_navegation ul li a{
            padding: 0.5rem 7rem;
        }
    }
    /*fin menu*/

.habilidades__h2, .educacion__h2{
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 0.2rem;
    color: rgb(0, 0, 0);
    line-height: 1.3em;
    font-weight: 900;
    margin: 1rem;
}

.habilidades_article{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.habilidades_caja img{
    width: 10em;
    padding: 0 30px;
}

.habilidades_caja h3, .habilidades_caja p{
    letter-spacing: 3px;
    text-align: center;
    line-height: 1.3em;
    font-family: 'Noto Sans JP', sans-serif;
}

.habilidades_caja h3{
    font-weight: bold;
}

@media only screen and (max-width: 900px) {   
    .habilidades_caja img{
        width: 7em;
    }
    
    .habilidades_caja h3, .habilidades_caja p{
        letter-spacing: 2px;
        line-height: 1.4em;
    }
}

@media only screen and (max-width: 690px) { 
    .habilidades_article{
        flex-wrap: wrap;
        padding: 0;
    }  
    .habilidades_caja img{
        width: 5em;
    }
    .habilidades_caja p{
        padding: 0 2em;
    }
}

/*target*/

.educacion:target, .Habilidades:target, .contacto:target{
    padding-top: 3.5rem;
}

/* contaco */

.contacto{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    align-content: center;
}

form{
    padding: 1.5em;
}

fieldset{
    padding: 1.5em 2.5em;
    border: 2px solid;
    border-radius: 9px;
    font-size: 1.1em;
    font-weight: 900;
    line-height: 1.3em;
    letter-spacing: 0.1em;
}

fieldset div{
    text-align: center;
}

input{
    border: 1px solid;
    border-radius: 3px;
}

.estilotextarea{
    width:288px;
    height:130px;
    border: 1px solid;
    border-radius: 5px;
}

.boton{
    margin: 7px;
    margin-right: 0;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    border-radius: .25rem;
    background-color: #007bff;
    color: #fff;
    transition: background-color .15s ease-in-out;
}
      
.boton:hover, .boton:focus {
    background-color: #0069d9;
}
      
.boton:active {
    background-color: #0062cc;
}

@media only screen and (max-width: 500px) {    
    form{
        padding: 1em;
    }
    
    fieldset{
        padding: 1em 2em;
        border: 2px solid;
    }
    
    .estilotextarea{
        width:200px;
        height:100px;
    }
}

@media only screen and (max-width: 330px) {     
    .estilotextarea{
        width:150px;
        height:70px;
    }

    .boton{
        margin: 4px;
        padding: 5px;
        font-weight: 400;
        font-size: 15px;
    }
}