body{
    background: #B0BFE1;
}

.presentacion-caja{
    padding-top: 3.1rem;
}

h1{
    font-family: 'Roboto Mono', monospace;
}

h2, h3{
    font-family: 'Playfair Display', serif;
}

p{
    font-family: 'Noto Sans JP', sans-serif;
}

.presentacion__h1{
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 1px black,
                 2px 2px 2px black,
                 3px 3px 3px black,
                 4px 4px 4px black,
                 5px 5px 5px black,
                 6px 6px 6px black;
    line-height: 1.3em;
}

.presentacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.presentacion__p{
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 1.1px;
    line-height: 1.2em;
    flex: 2 1 auto;
    margin: 0;
    margin-left: 5rem;
}

.presentacion__img{
    border-radius: 100%;
    width: 14rem;
    flex: 1 1 auto;
    margin-left: 10rem;
    margin-top: -3.5rem;
    margin-right: 3rem;
}

.presentacion-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.icon-presentacion__linkedin, .icon-presentacion__git{
    margin: 1rem;
    margin-top: -0.3rem;
}

.presentacion-fa-linkedin{
    margin-left: 2rem;
    color: #2538A2;
    font-size: 2.2rem;
    background: #fdfdfd;
    border-radius: 6px;
}

.icon-presentacion__git i{
    color: black;
    font-size: 2.2rem;
    background: #ffffff;
    border-radius: 100%;
}

@media only screen and (max-width: 1072px) {    
    .presentacion__p{
        margin-left: 3rem;
    }

    .presentacion__img{
        margin-top: -1rem;
        margin: 0 2.2rem;
    }
    
    .presentacion-icon{
        justify-content: center;
        margin-left: -15rem;
    }

    .icon-presentacion__linkedin, .icon-presentacion__git{
        margin: 1rem;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 642px) {   
    .presentacion{
        flex-direction: column;
    }

    .presentacion__p{
        margin: 0 0.3rem;
    }
    
    .presentacion__img{
        margin: 0;
        margin-top: 1rem;
    }

    .presentacion-icon{
        justify-content: space-between;
        margin-left: 0.2rem;
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 641px) {   
    .presentacion-icon{
        justify-content: space-between;
        margin-left: 0rem;
        margin-top: -3rem;
    }

    .icon-presentacion__linkedin, .icon-presentacion__git{
        margin: 0;
        margin-left: 0;
    }

    .icon-presentacion__git{
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 351px) {   
    .presentacion-icon{
        justify-content: space-around;
        margin:1rem;
    }
    .icon-presentacion__linkedin, .icon-presentacion__git{
        margin: 0;
        margin-left: -2rem;
    }
}

/*estudios*/

.educacion{
    padding-top: 0.1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.educacion__Universitaria, .educacion__Cursos{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}


.educacion__separados{
    margin: 1rem;
    flex: 1 1 auto;
    /*falta los colores de fondo*/
    border-radius: 100px;
    width: 30rem;
}

/*tectos de educacion*/

.educacion__separados h3{
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    color: #000000;
    line-height: 1.3em;
    text-align: center;
    font-weight: 600;
}

.educacion__P{
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: #f5efefef;
    line-height: 1em;
    font-weight: 600;
    text-shadow: 1px 1px 1px black,
                 2px 2px 2px black,
                 2px 2px 2px black,
                 2px 2px 2px black,
                 2px 2px 2px black;
}

.educacion__separados:hover{
    background: #8f9ab460;
    transition: all 0.2s linear;
}

@media only screen and (max-width: 642px) {   
    .educacion__separados{
        width: auto;
        border-radius: 20px;
    }
    .educacion__separados:hover{
        background: #B0BFE1;
        transition: all 0.3s linear;
    }
}

/* habilidades */

.habilidades__h2, .educacion__h2{
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 0.2rem;
    color: rgb(0, 0, 0);
    line-height: 1.3em;
    font-weight: 900;
    margin: 1rem;
}

.habilidades__img{
    height: 8em;
    margin: 2em;
}

.educacion__h3{
    display: none;
}

.educacion__article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*target*/

.educacion:target, .Habilidades:target, .contacto:target{
    padding-top: 3.5rem;
}