body{
    margin: 0;
}

.educacion{
    padding-top: 0.1em;
    background: rgb(200, 196, 196);
}


.educacion__Universitaria, .educacion__Cursos{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgb(200, 196, 196);
}


.educacion__separados{
    margin: 1rem;
    flex: 1 1 auto;
}

/*tectos de educacion*/
.educacion__h2{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: #250404d7;
    font: italic bold Georgia, Serif;
    line-height: 1.3em;
}

.educacion__separados h3{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #000000;
    line-height: 1.3em;
    text-align: center;
}

.educacion__P{
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: #25011c;
    line-height: 1em;
}
